<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
			"https://www.springframework.org/dtd/spring-beans-2.0.dtd">
			
<beans>
	<bean id="student" class="com.spring.di.Student">
		<property name="name" value="Jayant Ukey"></property>
		<property name="id" value="1"></property>
	</bean>
	
	<!-- This will create the second object -->
	<bean id="secondStudent" class= "com.spring.di.Student">
		<property name="id" value="2"></property>
		<property name="name" value="Manish"></property>
	</bean>
</beans>